#field {
	margin: 150px auto 30px;
}

#field td {
	width: 150px;
	height: 150px;
	border: 1px solid black;
	text-align: center;
	font-weight: bold;
	font-size: 45px;
}

#info {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	margin: 0 auto;
	height: 50px;
	width: 300px;
}

#res {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 150px auto 30px;
	font-size: 100px;
	color: blue;
}
